<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm">
            <div class="card-body p-4">

                <!-- ==================== EDUCATION ==================== -->
                {% if site.data.profile.education %}
                <div class="mx-2 my-1">
                    <h6>Education</h6>

                    <ul class="list-unstyled mb-4">
                        {% for item in site.data.profile.education %}
                        <li class="education-item">

                            <div class="education-year">
                                {{ item.date }}
                            </div>

                            <div class="education-item-info">

                                <div class="education-school">
                                    <span>{{ item.name }}</span>

                                    {% if item.logo %}
                                    <img src="{{ item.logo | relative_url }}"
                                         alt="{{ item.name }}"
                                         class="education-logo-right">
                                    {% endif %}
                                </div>

                                {% if item.dept %}
                                <div>{{ item.dept }}</div>
                                {% endif %}

                                <div class="education-position">
                                    {{ item.position }}
                                </div>

                            </div>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}


                <!-- ==================== EXPERIENCE ==================== -->
                {% if site.data.profile.experience %}
<div class="mx-2 my-4">
    <h6>Experience</h6>

    <ul class="list-unstyled mb-4">
        {% for item in site.data.profile.experience %}
        <li class="education-item">

            <div class="education-year">
                {{ item.date }}
            </div>

            <div class="education-item-info">
                <div class="education-school">
                    {{ item.name }}
                </div>
            </div>

        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}


                <!-- ==================== HONOURS AND AWARDS ==================== -->
                {% if site.data.profile.awards %}
                <div class="mx-2 my-4">
                    <h6>Honours and Awards</h6>

                    <ul class="list-unstyled mb-4">
                        {% for item in site.data.profile.awards %}
                        <li class="education-item">

                            <div class="education-year">
                                {{ item.date }}
                            </div>

                            <div class="education-item-info">

                                <div class="education-school">
                                    {{ item.name }}
                                </div>

                            </div>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}


                <!-- ==================== TALKS ==================== -->
                                <!-- ==================== TALKS ==================== -->
                {% if site.data.profile.speakers %}
                <div class="mx-2 my-4">
                    <h6>Talks and Presentations</h6>

                    <ul class="list-unstyled mb-0">
                        {% for item in site.data.profile.speakers %}
                        <li class="education-item">

                            <div class="education-year">
                                {{ item.date }}
                            </div>

                            <div class="education-item-info">
                                <div class="education-school">
                                    {{ item.name }}
                                </div>
                            </div>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
