{% assign publications = include.publications %}
<div id="scopus-publications" class="my-3 p-0 shadow-sm rounded-xl section-card publication-panel">
    <h6 class="section-heading">
    {% if include.title %}
        {{ include.title }}
    {% else %}
        <i class="fas fa-book-open"></i> Scopus Publications
    {% endif %}
</h6>
    {% for item in publications limit:include.limit %}
        {% include widgets/publication_item.html item=item first=false last=false %}
    {% endfor %}
  </div>

